body {
    background-color: #F9F7FE;
    font-family: "Roboto", sans-serif;
    color: white;
}

a {
    color: #3B72DC;
}

.weather-app {
    background-color: #7C9BEC;
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
    border-bottom: 0.1px solid #F9F7FE;
    padding: 0 0 30px 0;
}

.search-form-input {
    background-color: #F9F7FE;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
}

.search-form-button {
    background: white;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
    color: #7C9BEC;

}

main {
    padding: 30px 0;

}


.weather-app-data {
    display: block;
    justify-content: space-between;
    text-align: center;
}

.weather-app-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
    display: block;
    text-align: left;
}

.weather-app-time {
    font-size: 16px;
    color: white;
    line-height: 24px;
    font-weight: 200;
}

.weather-app-details {
    display: flex;
    text-align: center;
    
}

.weather-app-temperature-container {
    display:block;
    text-align: center;
    
}

.weather-app-icon {
    width: 100px;
    height: 100px;
}

.weather-app-temperature {
    font-size: 55px;
    line-height: 55px;
    font-weight: bold;
}

.weather-app-unit {
    margin-top: 6px;
    font-size: 28px;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.weather-forecast-icon {
    width: 88px;
    height: 88px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.weather-forecast-day{
    display: flex;
    flex-direction:column;
    align-items: center;
    border: solid #F9F7FE;

    border-width: 0.5px;
    border-radius: 20px;
    margin-bottom: 5px;
    
}

.weather-forecast-date {
    font-size: 16px;
    color: black;
    opacity: 0.4;
    margin-top: 5px;
    
}

.weather-forecast-temperatures {
    font-size: 13px;
    margin: 5px auto;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
}


footer {
    border-top: 1px solid #F9F7FE;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0,0,0.6);
}